@font-face {
  font-family: atari;
  src: url(../fonts/PressStart2P.ttf);
}

* {
  color: gainsboro;
  font-family: atari;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  display: flex;
  flex-direction: row;
}

div {
  margin: 8px;
}

/* #main {
} */

#location {
  width: calc(8px * 30);
  height: calc(5px * 30);
  background-size: cover;
}

.text {
  display: inline-block;
}

input {
  background-color: black;
  border: none;
  width: min-content;
  text-transform: uppercase;
}
input:focus-visible {
  outline: none;
}
